<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baronzhang.android.router.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="SecondActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="com.baronzhang.android.router.secondActivity"
                    android:scheme="router" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="ThirdActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="com.baronzhang.android.router"
                    android:path="/activity/third"
                    android:port="6666"
                    android:scheme="router" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FourthActivity"
            android:label="FourthActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="com.baronzhang.android.router.FourthActivity"
                    android:scheme="router" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FifthActivity"
            android:label="FifthActivity" />

    </application>

</manifest>